@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-y: hidden;
}
body{
     background: radial-gradient(
        circle at 50% 10%,
        hsl(214,47%,23%),
        hsl(273,49%,15%)
     );
    height: 100vh;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    overflow: hidden;
}
.none {
    display: none !important;
}

.opacity{
    opacity: .1;
}
/* START HEADER */
    #header{
        margin:2rem auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem ;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 7px;
    }
    #header .titles {
        font-size: 1rem;
        line-height: 19px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #header .score-con{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 5px 30px;
        border-radius: 10px;
        text-align: center;
    }
    #header .score-con h4{
        color: rgba(67, 43, 226, 0.786);
        letter-spacing: 2px;
    }
    #header .score-con span{
        color: rgb(86, 86, 86);
        font-size: 2.5rem;
    }
    @media (max-width:500px) {
        #header .titles {
        font-size: .7rem;
        line-height: 19px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #header .score-con{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
        border-radius: 10px;
        text-align: center;
    }
    #header .score-con h4{
        color: rgba(67, 43, 226, 0.786);
        letter-spacing: 2px;
    }
    #header .score-con span{
        color: rgb(86, 86, 86);
        font-size: 2rem;
    }
    }
/* END HEADER */

/* START MAIN */
    #main{
        
        padding: 1rem 2rem;
        width: 500px;
        margin: 6rem auto;
        position: relative;
    }
    #main .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #main .btns .first-con{
        display: flex;
        width: 100%;
        padding: 0 2rem;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    
    #main button{
        cursor: pointer;
        border-radius: 50%;
        padding: 20px;
        box-shadow: inset 0 6px rgba(0, 0, 0, 0.15);
        outline: none;
        border: none;
    }
    #main button :active{
        transform: scale(.9);
    }
    #main .btns .first-con div,#main .btns .second-con div{
        border-radius: 50%;
        box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
        padding: 15px;
    }
    #main .btns .paper-con {
        background:linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%)); 
        z-index: 100;
    }
    #main .btns .scissors-con {
        background:linear-gradient( hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
        z-index: 100; 
    }
    #main .btns .rock-con {
        background:linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%)); 
        z-index: 110; 
    }
    .second-con{
        z-index: 100;
        padding-bottom:1rem ;
    }
    #main .triangle{
        position: absolute;
        background:url('./images/bg-triangle.svg');
        width: 500px;
        height: 300px;
        left: 10%;
        background-position:2rem  1.2rem ;
        background-repeat: no-repeat;
        transform: scale(1.1);
    }

    @media(max-width:575px){
        #main{
            padding: 1rem .4rem;
            width: 330px;
            margin: 6rem auto;
            position: relative;
        }
    }
    
    @media(max-width:615px){
        #main{
        padding: 1rem ;
        width: 340px;
        margin: 6rem auto;
        position: relative;
    }
     #main .triangle{
        position: absolute;
        background:url('./images/bg-triangle.svg');
        width: 400px;
        height: 400px;
        left:-12%;
        top:10px;
        background-position:2rem  1.2rem ;
        background-repeat: no-repeat;
        transform: scale(.9);
    }
    #main .btns .first-con{
        display: flex;
        width: 100%;
        padding: 0 1rem;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    #main .btns img{
        width: 40px;
    }
    
    .second-con{
        z-index: 100;
        
    }
    #main .btns .first-con{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    }
/* END MAIN */

/* PICK */
#pick{
}
#pick .con{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

#pick .con .you-pick,#pick .con .computer-pick{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem 0;
    overflow: visible;
    text-align: center;
}
.result h1{
    
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 100%;
    margin: 1rem 0;
}
.result button{
    width: 120px;
    padding: 5px 10px ;
    font-size: 1.1rem;
    color: rgba(255, 17, 17, 0.883);
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}
#pick  h2{
    font-size: 1rem;
    text-transform: uppercase;
}
#pick .con .you-pick div,#pick .con .computer-pick div{
    border-radius: 50%;
        box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
        padding: 15px;
        z-index: 100;
        transform: scale(1.1);

}
#pick .con .you-pick div button,#pick .con .computer-pick div button{
        border-radius: 50%;
        padding: 20px;
        box-shadow: inset 0 6px rgba(0, 0, 0, 0.15);
        outline: none;
        border: none;
}

@media(max-width:615px){

   

#pick .con{
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 200px;
    margin: 0 auto;
}

.result{
    margin-bottom:-10rem ;
}
}
@media (max-width:398px) {
    #pick .con .you-pick div,#pick .con .computer-pick div{
    border-radius: 50%;
        box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
        padding: 15px;
        transform: scale(.8);

}
}
.user-win{
    position: relative;
}
.user-win::before{
    content: '';
    width: 200px;
    top: -25%;
    left: -35%;
    height: 200px;
    z-index: -100;
    border-radius: 50%;
    opacity:.2 ;
    position: absolute;
background: radial-gradient(circle at 50%, #333, #333 0%, #eee 0%, #333 80%);}
/* background: radial-gradient(
        circle at 50% 10%,
        hsl(214,47%,23%),
        hsl(273,49%,15%)
     ); */
.pick-rock{
            background:linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%)); 
}
.pick-paper{
    background:linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%)); 
}
.pick-scissors{
    background:linear-gradient( hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
}
/* PICK END */


/* RULRS */
#rules{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#rules .rule-btn{
    position: absolute;
    bottom: 2rem;
    cursor: pointer;
    right: 1rem;
    font-size: 1.3rem;
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px 10px;
}
#rules div {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10%;
    z-index: 1000;
}
#rules div img{
    background: #FFF;
    padding: 3rem 1rem;
}
#rules div button{
    color: #6a5555;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #6a5555;
    border-radius: 4px;
    position: absolute;
    background-color: transparent;
    margin: 10px 0;
    z-index: 10000;
    
}
/* END RULES */